*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body{
    background-color: #F8FAFC;
    font-family: 'Montserrat', serif;
}

/* **************HEADER****************  */
header{
    width:100vw;
    margin: 20px 0 20px 0;
}

h1{
    text-align: center;
    color:purple;
    font-family: 'Playfair Display', serif;
}

/* ***********Element style  */
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

button{
    cursor: pointer;
    padding: 15px 20px;

    background-color: #719af3;
    border-radius: 20px;
    border: none;
    color: white;

    font-weight: bold;
    transition: all 0.3s ease;
}

.btn_secondary{
    background-color: #04b5bb !important;
    padding: 10px 15px !important;
}

.btn_light{
    background-color: #015a5e !important;
    color: #ffffff !important;
    padding: 10px 15px !important;
}

.btn_light:hover{
    transform: translateY(0px);
}

button:hover{
    background-color: #1E40AF;
    transform: translateY(-1px);
}

/* ***********BIBLIOTHEQUE  */

.bibliotheque{
    background-color: white;
    width:50vw;
    padding:20px;
    margin:auto;
    border-radius:20px;
}

/* style de la div qui  regroupe le titre le titre et le logo  */
.header-bibliotheque{
    display:flex;
    justify-content: space-between;
}

h2{
    font-weight:600;
}

.bi{
    font-size:30px;
    cursor:pointer;
}

/* Pour faire disparaitre les elements selectionner */
.hiden {
    display: none !important;
}

/* ****************TEST ET SCORE */
.div-test-score{

    /* border:1px solid blue; */
    width:90vw;
    display:flex;
    margin:auto;
    margin-top: 40px;
    
}

.div-resultat{
    /* border:1px solid red; */
    width:30vw;
    padding:20px;
    border-right: 1px solid #58585821;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div-test{
    /* border:1px solid black; */
    width:70vw;
    background-color: #ffff;
    padding:20px;
}

/* pour mettre le titre et le le toggle */
.div-score{
    display: flex;
    justify-content: space-between;

    
}
/* Div regroupant le pourcentage  et les test reussi  */
.div-pourcentage{
    display:flex;
    justify-content: space-between;
    margin-bottom:10px;
    padding: 10px;
    background-color: #dce2e7;
}
/* style du pourcentage  */
.pourcentage{
    color:red;
    font-weight: bolder;
    /* font-size:30px; */
}
/*  titre de la section */
.titre-section{
    text-align:center;
}
/* style du champs input   */
.input-regex{
    width:100%;
    padding:10px;
    font-size: 1.2em;
    margin-bottom:20px;
    border-radius: 5px;

}

.div-bibliotheque-test{
    height: fit-content;
    display: flex;
    gap:15px;
    align-items: center;
}

.div-bibliotheque-test .div-preset{
    display: flex;
    align-items: center;
    gap:10px;
}

/* Pour les bouton qui vont ecrire des test  */
textarea {
    width: 100%;
    margin: 15px 0;
    border-radius: 5px;
    resize: vertical;
    
    line-height: 20px; 
    padding: 0 10px;
    border: 1px solid #ccc;

    background-image: linear-gradient(
        #ffffff 50%, 
        #f2f2f2 50%
    );
    
    background-size: 100% 40px; 
    
    background-attachment: local;
}
/* style de la div regroupant les bouton  */
.div-btn{
    display: flex;
    justify-content: space-between;

}

/* REPOSNIVE PETIT ECRAN  */
@media screen and (max-width:860px){
    .bibliotheque{
        width:80vw;
    }
    .hiden-bibliotheque{
        display: flex;
        flex-direction: column;
        
    }

    .hiden-bibliotheque button,.div-bibliotheque-test button,.div-btn button{
        margin-top:15px;
    }

    .div-test-score{
        flex-direction: column;
        width:80vw;

    }

    .div-resultat,.div-test{
        /* border:1px solid red; */
        width:100%;
    }

    .div-bibliotheque-test{
        flex-direction: column;
    }
    
    .div-btn{
        flex-direction: column;
    }

    
}